SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=selftorage.kislyakov.pro
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# DB_PATH=/opt/selftorage/db.sqlite3
# YOOKASSA_SHOP_ID=
# YOOKASSA_SECRET_KEY=
